<?xml version="1.0" encoding="UTF-8"?>
<!--*
web.xml
Sept 18, 2018
Melanie Roy-Plommer

@section Academic Integrity
* I certify that this work is solely my own and complies with
* NBCC Academic Integrity Policy (policy 1111)-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateTicketServlet</servlet-name>
        <servlet-class>com.nbcc.CreateTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTicketServlet</servlet-name>
        <url-pattern>/CreateTicketServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404_notfound.html</location>
    </error-page>
</web-app>
